[data-id-post] {
    display: flex;
}

[data-id-post]:not(:last-of-type) {
    margin-bottom: 32px;
}

[data-id-post] .score {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    align-items: center;
    width: 40px;
    flex-shrink: 0;
    height: 100%;
    border: 1px solid var(--color-secondary);
    border-radius: 0.2em;
    background: var(--gradient-secondary);
    color: transparent;
    background-clip: text;
}

[data-id-post] .score button {
    font-family: "Material Icons";
    padding: 12px 0px;
    width: 100%;
    border: none;
    background: none;
    color: lightgrey;
    border-radius: 0px;
}

[data-id-post] .score button:hover {
    background: var(--gradient-secondary);
    color: transparent;
    background-clip: text;
}

[data-id-post] .score button.active {
    color: white;
    background: var(--gradient-secondary);
    border-bottom-color: var(--color-secondary);
}

[data-id-post] .score button:focus {
    outline: none;
}

[data-id-post] .score span {
    padding: 8px 0px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--color-secondary);
}

[data-id-post] .score span:hover {
    cursor: pointer;
}

[data-id-post] .thumbnail {
    --thumbnail-size: 96px;

    width: var(--thumbnail-size);
    height: var(--thumbnail-size);
    flex-shrink: 0;
    margin-right: 16px;
}

[data-id-post] .thumbnail img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid lightgrey;
}

[data-id-post] .thumbnail:empty::before {
    content: "notes";
    font-family: "Material Icons";
    font-size: 48px;
    color: white;
    background: lightgrey;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

[data-id-post] .info {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

[data-id-post] [data-id-subseddit] {
    height: 20px;

    background: var(--gradient-secondary);
    color: transparent;
    background-clip: text;
    border: 1px solid transparent;
    border-image: var(--gradient-secondary);
    border-image-slice: 1;

    text-decoration: none;
    padding: 0px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

[data-id-post] [data-id-subseddit]:hover {
    background: var(--gradient-secondary);
    color: white;
}

[data-id-post] [data-id-subseddit]::before {
    content: "s/";
}

[data-id-post] [data-id-subseddit]:empty::before {
    content: "s/all";
}

[data-id-post] .title {
    width: 100%;
    padding: 6px 0px 4px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: 28px;
}

[data-id-post] h2 {
    margin: 0px;
    background: var(--gradient-primary);
    color: transparent;
    background-clip: text;
    position: relative;
}

[data-id-post] p {
    height: 24px;
    width: 100%;
    /* margin: 0px 0px 6px 0px; */
    margin: 0px 0px 2px 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-flex;
    align-items: center;
}

[data-id-post] footer {
    background: none;
    height: 20px;
    display: flex;
}

[data-id-post] footer >* {
    height: 100%;
    display: inline-flex;
    align-items: end;
}

[data-id-post] [data-id-author] {
    margin-right: 1em;
}

[data-id-post] time {
    margin-right: 1em;
}

[data-id-post] .comments {
    margin-right: 1em;
}

[data-id-post] .comments::after {
    content: "(" attr(data-num-comments) ")";
    margin-left: 4px;
}

[data-id-post] .edit,
[data-id-post] .delete {
    display: inline-flex;
    align-items: center;
    border-radius: 999px;
}

[data-id-post] .edit::before,
[data-id-post] .delete::before {
    font-family: "Material Icons";
    margin-right: 4px;
}

[data-id-post] .edit {
    margin-right: 1em;
    background: var(--gradient-primary);
}

[data-id-post] .edit::before {
    content: "edit";
}

[data-id-post] .delete {
    background: var(--gradient-secondary);
}

[data-id-post] .delete::before {
    content: "delete";
}
