main > form {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
    width: 480px;
    padding: 32px;
    align-items: start;
}

main > form h1,
main > form h2 {
    margin-top: 0px;
    display: inline-block;
    background: var(--gradient-primary);
    color: transparent;
    background-clip: text;
}

main > form input:not([type="file"]) {
    background: none;
    border: none;
    border-bottom: 2px solid lightgrey;
    padding: 4px 0px;
}

main > form input {
    width: 100%;
}

main > form input:focus {
    border-color: transparent;
    border-image: var(--gradient-secondary);
    border-image-slice: 1;

    background: var(--gradient-secondary);
    color: transparent;
    background-clip: text;
}

main > form >:not(:last-child) {
    margin-bottom: 24px;
}

main > form button {
    height: 36px;
    background: var(--gradient-primary);
    border-radius: 999px;
    width: 100%;
}

main > form > label {
    width: 100%;
    color: var(--color-secondary);
}
