[data-id-post] {
    display: flex;
}

[data-id-post] .score {
    order: 1;
    display: flex;
    flex-direction: column;
}

[data-id-post] .info {
    order: 2;
    display: flex;
    flex-direction: column;
}

[data-id-post] img {
    order: 1;
}

[data-id-post] [data-id-subseddit] {
    order: 2;
    color: rgba(0, 0, 0, 0.75);
}

[data-id-post] h2 {
    order: 3;
}

[data-id-post] p {
    order: 4;
}

[data-id-post] [data-id-author] {
    order: 5;
}

[data-id-post] time {
    order: 6;
}

[data-id-post] .comments {
    order: 7;
}