@import "material-icons.css";
@import "modal.css";
@import "feed-item.css";
@import "profile.css";

* {
    box-sizing: border-box;
}

body {
    /* Easiest way to avoid the navbar visibly moving
     * horizontally if the amount of content changes
     * (causing scrollbar to appear/disappear)
     */
    overflow-y: scroll;
}

main {
    max-width: 960px;
    margin: 0px auto;
}

a {
    color: #da4453;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 8px calc((100% - 960px) / 2);
    border-bottom: 1px solid lightgrey;
    height: 48px;
}

nav.left {
    display: flex;
}

nav button {
    height: 100%;
}
