/*
    Adapted from:
    https://fonts.googleapis.com/css?family=Montserrat
*/

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("Montserrat.woff2") format("woff2");
}
