.post {
    display: flex;
    flex-direction: column;
}

.post > ul {
    padding: 0px;
    margin: 0px;
    margin-bottom: var(--main-gutter);
}

.post form {
    width: 100%;    
}

.post form textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 8em;

    padding: 8px;
}

.post > h2 {
    background: var(--gradient-secondary);
    color: transparent;
    background-clip: text;
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 16px;
}

.post form textarea:focus {
    border: 1px solid transparent;
    border-image: var(--gradient-secondary);
    border-image-slice: 1;
}

.post .comments {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.comment:not(:last-of-type) {
    margin-bottom: 12px;
}

.comment time {
    margin-left: 1em;
}

.comment div {
    margin-bottom: 4px;
}
