.profile {
    display: flex;
    align-items: start;

    --section-info-width: 240px;
    --section-posts-width: calc(var(--content-width) - (var(--section-info-width) + var(--main-gutter)));
}

.profile section.info {
    --picture-size: 64px;
    --padding-size: 24px;
    --username-height: 28px;
    --element-margin: 16px;
    --action-height: 36px;
    --text-margin: 4px;

    width: var(--section-info-width);
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-size);
    position: sticky;
    top: calc(var(--nav-bar-height) + var(--main-gutter));
    margin-right: var(--main-gutter);
    flex-shrink: 0;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1);
}

.profile section.info::before {
    content: "person";
    font-family: "Material Icons";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: var(--picture-size);
    height: var(--picture-size);
    background: lightgrey;
    border-radius: 50%;
    font-size: calc(var(--picture-size) / 2);
}

.profile section.info h2 {
    height: var(--username-height);
    margin: var(--element-margin);
}

.profile section.info div {
    display: flex;
    flex-direction: column;
}

.profile section.info .edit,
.profile section.info .follow,
.profile section.info .unfollow {
    background: var(--gradient-primary);
    color: white;
    border: none;
    padding: 0px;
    height: var(--action-height);
    border-radius: 999px;
    font-size: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: var(--element-margin);
}

.profile section.info .edit::before,
.profile section.info .follow::before,
.profile section.info .unfollow::before {
    font-family: "Material Icons";
    margin-right: 4px;
}

.profile section.info .edit::before {
    content: "edit";
}

.profile section.info .follow::before {
    content: "add_circle_outline";
}

.profile section.info .unfollow::before {
    content: "remove_circle_outline";
}

.profile section.info span:not(:last-of-type) {
    margin-bottom: var(--text-margin);
}

.profile section.info .name,
.profile section.info .email {
    position: relative;
    margin-left: 24px;
}

.profile section.info .name::before,
.profile section.info .email::before {
    font-family: "Material Icons";
    position: absolute;
    left: -24px;
}

.profile section.info .name::before {
    content: "person_pin";
}

.profile section.info .email::before {
    content: "email";
}

.profile section.info .metrics {
    display: flex;
    background: var(--gradient-secondary);
    color: white;
    padding: 8px;
    margin-top: var(--element-margin);
    border-radius: 0.2em;
}

.profile section.info .metrics span {
    font-size: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    flex-shrink: 0;
}

.profile section.info .metrics span::before {
    font-family: "Material Icons";
    margin-right: 8px;
    font-size: 0.8em;
}

.profile section.info .metrics span::after {
    font-size: 12px;
    flex-basis: 100%;
    display: inline-flex;
    justify-content: center;
}

.profile section.info .metrics .followers::before {
    content: "people";
}

.profile section.info .metrics .followers::after {
    content: "followers";
}

.profile section.info .metrics .upvotes::before {
    content: "thumb_up";
}

.profile section.info .metrics .upvotes::after {
    content: "upvotes";
}

.profile section.posts {
    max-width: var(--section-posts-width);
}
